body {font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    line-height: 1.6;
}
header {
    background-color:green;
    color:blue;
    padding: 10px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    color:blue;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
}
header nav a:hover{
    text-decoration: underline;
}
main{
    padding: 20px;
}
#hero h1{
    color:black;
}
.button{
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3;
}
.button:hover{
    background-color: green;
}
footer {
    background-color:white;
    color: black;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}
footer a{
    color:blue;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}